<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
    $(function(){
    $(".ajaxForm").submit(function(e){
        e.preventDefault();
        var href = $(this).attr("action");
        $.ajax({
            type: "POST",
            dataType: "json",
            url: href,
            data: $(this).serialize(),
            success: function(response){
                if(response.status == "success"){
                    alert('Cám ơn bạn rất nhiều vì đã gửi lời chúc!');
                    window.location.href = 'https://phatque.github.io/en/#contact';
                }else{
                    alert("An error occured: " + response.message);
                }
            }
        });
    });
    });
</script>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gửi lời chúc</h2>
                <h3 class="section-subheading text-muted">Anh/Chị có thể để lại lời chúc mừng ngay ô bên dưới hoặc hãy tin nhắn qua Facebook/Zalo/SMS của chúng em <a href="https://www.facebook.com/phatcvo/">Công Phát</a> và <a href="https://www.facebook.com/phatcvo/">Nguyệt Quế</a> - 0909 207 636 & 0774 758 235. Cám ơn /chị rất nhiều! Chúc anh chị mọi điều tốt lành nhất <3</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Create your own form using FormCarry: https://formcarry.com/ -->
                <form class="ajaxForm" action="YOUR_FORM_CARRY_ENDPOINT" method="POST">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Tên" id="name" name="name" required data-validation-required-message="Hãy điền tên của anh/chị.">
                                <p class="help-block text-danger"></p>
                            </div>
                        
                            <div class="control-group form-group">
                                <textarea class="form-control" placeholder="Lời chúc" id="message" name="message" required data-validation-required-message="Hãy để lại lời nhắn ở đâu."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Gửi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
