<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Lịch trình ngày cưới</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>LỄ CƯỚI NHÀ GÁI</h4>
                                <h4 class="subheading">7:30 AM - Ngày 03/09/2022</h4>
                                <h6>Tư gia</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Số 1, Hồ Văn Huê, Khu 7, TT. Cần Đước, <br> H. Cần Đước, T. Long An</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>LỄ CƯỚI NHÀ TRAI</h4>
                                <h4 class="subheading">9:30 AM - Ngày 03/09/2022</h4>
                                <h6>Tư gia</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Số 11, QL. 50, Ấp Tân Mỹ, Xã Mỹ Lệ, <br> H. Cần Đước, T. Long An</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>TIỆC CƯỚI</h4>
                                <h4 class="subheading">2:00 PM - Ngày 03/09/2022</h4>
                                <h6>Nhà Hàng Sinh Thái Hương Lúa</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> <a href="https://www.google.com/maps/place/Nh%C3%A0+h%C3%A0ng+H%C6%B0%C6%A1ng+L%C3%BAa/@10.5018531,106.5978683,17z/data=!3m1!4b1!4m5!3m4!1s0x31754a48a4e453e9:0xc5a7d9e65416f722!8m2!3d10.5018531!4d106.5997088" target="_blank">Số 88, Hồ Văn Huê, Khu 7, TT. Cần Đước, <br> H. Cần Đước, T. Long An</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
