<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Đưa đón</h2>
                <h3 class="section-subheading text-muted">Chúng tôi có chuẩn bị xe đưa đón cho khách mời từ Sài Gòn, sau đây là những địa điểm mà xe đón khách.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        A Tâm (tài xế)
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Đón khách lúc 11:45 AM</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Số 1, Võ Văn Ngân, Linh Chiểu, Thủ Đức, Tp. Hồ Chí Minh</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">Phone number</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+S%C6%B0+ph%E1%BA%A1m+K%E1%BB%B9+thu%E1%BA%ADt/@10.8497401,106.7709628,18.25z/data=!4m12!1m6!3m5!1s0x31752763f23816ab:0x282f711441b6916f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTxrAgcGjhuqFtIEvhu7kgdGh14bqtdCBUcC4gSOG7kyBDaMOtIE1pbmg!8m2!3d10.8507214!4d106.7719223!3m4!1s0x3175270ac7eca1a9:0x4acd9831a3137ca1!8m2!3d10.8499273!4d106.7719221">ĐH Sư Phạm Kỹ Thuật Tp. HCM</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Khoảng cách 55km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>      
                </ul>
            </div>
            
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                     <li>
                        Name
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Description</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Address</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">Phone number</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.airbnb.com">https://www.airbnb.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance from venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
                     
        </div>
    </div>
</section>
