<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Đưa đón khách</h2>
                <h3 class="section-subheading text-muted">Chúng em có chuẩn bị xe đưa đón cho khách mời từ Tp HCM, sau đây là hai địa điểm mà xe đón khách kèm thời gian và thông tin liên hệ với tài xế. Vì khoảng cách di chuyển xa nên hy vọng mọi người có mặt đúng giờ nhé. Mọi khó khăn hãy thoải mái liên hệ chúng em qua sdt bên dưới ạ. <br>Cám ơn mọi người rất nhiều!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <a href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+S%C6%B0+ph%E1%BA%A1m+K%E1%BB%B9+thu%E1%BA%ADt/@10.8497401,106.7709628,18.25z/data=!4m12!1m6!3m5!1s0x31752763f23816ab:0x282f711441b6916f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTxrAgcGjhuqFtIEvhu7kgdGh14bqtdCBUcC4gSOG7kyBDaMOtIE1pbmg!8m2!3d10.8507214!4d106.7719223!3m4!1s0x3175270ac7eca1a9:0x4acd9831a3137ca1!8m2!3d10.8499273!4d106.7719221" target="_blank">ĐH Sư Phạm Kỹ Thuật Tp. HCM</a>
                
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Xuất phát lúc <b>11:20 AM</b></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Số 1, Võ Văn Ngân, Linh Chiểu, Thủ Đức, Tp. Hồ Chí Minh</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist"><b>0919 502 199</b> Anh Lộc (tài xế)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist">Mọi người có thể gửi xe ở siêu thị Co.opmart Xa Lộ Hà Nội</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Khoảng cách 53km (1 giờ 30 phút di chuyển)</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>      
                </ul>
            </div>
            
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                     <li>
                         <a href="https://goo.gl/maps/EsiMWQKzqWZv73326" target="_blank">Nhà văn hóa thanh niên Tp. HCM</a>

                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Xuất phát lúc <b>12:00 PM</b></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist"> Số 4, Phạm Ngọc Thạch, P. Bến Nghé, Quận 1, Tp. HCM</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist"><b>0919 502 199</b> Anh Lộc (tài xế)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist">Mọi người có thể gửi xe ở Nhà văn hoá thanh niên</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Khoảng cách 38km (1 giờ di chuyển)</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
                     
        </div>
    </div>
</section>
